@model Item
<div class="container">
    <div class="row">
        <div class="card">
            <div class="text-center">

                <img src="@Model.ImagemPequenaUrl" class="img-fluid my-5" asp-append-version="true" alt="item">

            </div>
            <div class="card-block">
                <h2 class="card-title ">@Model.Nome</h2>
                <p class="card-text">
                <h5>@Model.DescricaoDetalhada</h5>
                </p>
                <p class="btn btn-group align-content-lg-end">
                    <a asp-controller="Item" asp-action="List" class="btn" style="btn-color:#3C3131">Ver todos os móveis</a>

                    <a class="btn text-white" id="cartButton" asp-controller="Carrinho"
                        asp-action="AdicionarItemNoCarrinhoCompra" asp-route-itemId="@Model.ItemId" style="background-color:#3C3131">

                        Adicionar @Model.Nome ao carrinho
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>